{{> layout/header}}

<!--메인 시작-->
<div id="container">
    <section class="section1 main_sc1 cf">
        <!--section1 메인이미지 이부분은 슬라이더 보여지는 부분이라 프로그래밍 안들어가는 부분입니다.-->
        <div class="section1-img">
            <div class="section1-img1 mv" style="">
                <!-- <div class="cover"></div> -->
            </div>
            <div class="section1-img2 mv"></div>
            <div class="section1-img3 mv"></div>
        </div>
        <!--section1 메인이미지-->

        <!--section1 메인 txt-->
        <div class="section1-title-box w14">
            <div class="w14">
                <div class="section1-title">
                    <div class="tit1">
                        <h2>
                            적절한 당도 향긋한 향미를 즐기세요
                        </h2>
                        <p>
                            우리집 비타민 과일로 보충해요~
                        </p>
                    </div>
                    <div class="tit2">
                        <h2>
                            지금 가장 맛있는 달콤한 과일
                        </h2>
                        <P>설탕 한 톨 물 한 망울 섞지 않은 100% 착즙 국민주스</P>
                    </div>
                    <div class="tit3">
                        <h2>
                            싱그러운 숲속의 버터로 아침 한끼 든든하게 먹어요!!
                        </h2>
                        <p>
                            크리미하게 녹아드는 아보카도의 남다른 막과 비주얼을 느껴 보세요
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--section1 메인 txt-->

    </section>

    <!--section2 상품 리스트-->
    <section class="section2 main_sc2">
        <!--타이틀-->
        <div class="main_title mt-80">늘 좋은 상품만 드릴께요!</div>
        <div class="slide_wrap point w15">
            <div class="slide">
                <div class="swiper-wrapper">
                    <!--사진 클릭시 넘어 갈 수 있게 a 태그로 걸어 놓음,
                     시간 가능할때 추가 기능 구현시 상세보기를 장바구니 담기로 바로 담을 수 있게 해보기로!!-->
                    <!--상품 리스트 아이템-->
                    {{#productList}}
                    <a href="/" class="swiper-slide card">
                        <img class="card-img-top" src="/upload/{{img}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <button class="btn mb-20">상세보기</button>
                            <h4 class="card-title">{{name}}</h4>
                            <p class="card-text price fw-600 ft-20">{{price}}원</p>
                        </div>
                    </a>
                    {{/productList}}

                </div>
                <!--swiper-button-->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
                <!--swiper-button-->
            </div>
        </div>
    </section>
    <!--section2 상품 리스트-->

</div>
<!--메인 끝-->

{{> layout/footer}}