{{> layout/header}}

<div class="container w14 sub-page" style="text-align: center">
    <div class="main_title mb-100 fw-600">
        <h2>내 구매 목록</h2>
    </div>

    <div class="row">
        <!--주문 테이블-->
        <div>
            <table class="table order-table ft-18" style="vertical-align: middle">
                <tr class="bar">
                    <th>번호</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>구매수량</th>
                    <th>결제방법</th>
                    <th>주문상태</th>
                </tr>
                    <tr>
                    <tr>
                        <td>1</td>
                        <td>바나나</td>
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/" alt="Product Image"
                                     style="max-width: 100%; max-height: 100%;">
                            </div>
                            50000원
                        </td>

                        <td>
                            2
                        </td>
                        <td></td>
                        <td></td>
                        <td>
                            계좌이체
                        </td>
                        <td>
                            <input type="hidden" name="status" value="status">
                            <a href="" class="btn btn-warning">구매완료</a>
                        </td>
                    </tr>
            </table>
        </div>
        <!--주문 테이블-->
    </div>
</div>

{{> layout/footer}}