{{> layout/header}}

<div class="container pt-5" style="text-align: center">

    <div class="row">
        <!--주문 테이블-->
        <div>
            <table class="table table-striped" style="vertical-align: middle">
                <tr>
                    <th>번호</th>
                    <th>상품명</th>
                    <th>상품가격</th>
                    <th>구매수량</th>
                    <th>주문상태</th>
                </tr>

                    <tr>
                    <tr>
                        <td>1</td>
                        <td>상품명</td>
                        <td>
                            <div style="width:150px; margin:0 auto;">
                                <img src="/upload/img" alt="Product Image"
                                     style="max-width: 100%; max-height: 100%;">
                            </div>
                            가격
                        </td>

                        <td>
                            구매 수량
                        </td>
                    </tr>
            </table>
        </div>
        <!--주문 테이블-->
    </div>
</div>


{{> layout/footer}}