{{> layout/header}}

<div class="container sub-page">

    <!-- 요청을 하면 localhost:8080/join POST로 요청됨
    username=사용자입력값&password=사용자값&email=사용자입력값 -->
    <div class="card" style="width:600px; margin: 0 auto;">
        <div class="main_title">
            <h2>회원가입</h2>
        </div>

        <!--가입하기 폼 박스-->
        <div class="join-box">
            <p>
                <span class="point-color">*</span> 필수입력사항
            </p>
            <form action="/join" method="post" onsubmit="return valid()">
                <table class="join-table ft-18 mb-30">
                    <!--개인 이름-->
                    <tr>
                        <th>이름<span class="point-color">*</span></th>
                        <td>
                            <input id="username" type="text" class="form-control text-secondary"
                                   placeholder="이름을 입력하세요."
                                   name="username">
                        </td>
                        <!--아이디중복체크-->
                        <td class="pl-10">
                            <button type="button" onclick="usernameSameCheck()" class="btn" style="height:60px; padding:20px">아이디중복체크</button>
                        </td>
                        <!--아이디중복체크-->
                    </tr>
                    <!--개인 이름-->

                    <!-- 비밀번호 -->
                    <tr>
                        <th>비밀번호<span class="point-color">*</span></th>
                        <td colspan="2">
                            <input type="password" class="form-control" placeholder="비밀번호를 입력하세요." name="password">
                        </td>
                    </tr>
                    <!-- 비밀번호 -->

                    <!--전화번호-->
                    <tr>
                        <th>전화번호<span class="point-color">*</span></th>
                        <td colspan="2">
                            <input type="phone" class="form-control" placeholder="전화번호를 입력하세요." name="phone">
                        </td>
                    </tr>
                    <!--전화번호-->

                    <!--이메일-->
                    <tr>
                        <th>이메일<span class="point-color">*</span></th>
                        <td colspan="2">
                            <input type="email" class="form-control" placeholder="이메일을 입력하세요." name="email">
                        </td>
                    </tr>
                    <!--이메일-->

                    <!--생년월일 입력-->
                    <tr>
                        <th>생년월일<span class="point-color">*</span></th>
                        <td colspan="2">
                            <input name="birth" type="date" class="form-control" placeholder="생년월일을 선택하세요">
                        </td>
                    </tr>
                    <!--생년월일 입력-->

                </table>
                <!--가입하기버튼-->
                <button type="submit" class="btn btn-mint form-control ft-18">가입하기</button>
                <!--가입하기버튼-->
            </form>
        </div>
        <!--가입하기 폼 박스-->
    </div>
</div>
<script>
    let isSameCheck = false; // 중복 확인 여부를 저장하는 변수

    function valid() {
        if (!isSameCheck) {
            alert("아이디 중복확인이 실패했습니다.");
            return false; // 폼 제출 방지
        }
        // 여기에 추가적인 유효성 검사 로직을 구현할 수 있습니다.
        alert("회원가입이 완료되었습니다!"); // 유효성 검사가 성공적으로 완료됨
        return true; // 폼 제출 허용
    }

    function usernameSameCheck() {
        let username = $("#username").val();

        // 아이디 중복 체크 로직 구현
        $.ajax({
            url: "/api/username-same-check?username=" + username,
            type: "get"
        }).done((res) => {
            if (res.body === true) {
                isSameCheck = true;
                alert("사용 가능한 아이디입니다.");
            } else {
                isSameCheck = false;
                alert("동일한 아이디가 존재합니다.");
            }
        }).fail((res) => {
            alert(res.responseJSON.msg);
        });
    }
</script>
{{> layout/footer}}
